upstream bap {
{% for host in groups['web'] %}
    server {{ hostvars[host]['inventory_hostname'] }}:80;
{% endfor %}  
}

server {
    server_name webapp.tp2.lab;

    location / {
        proxy_pass http://bap;
        proxy_set_header    Host $host;
    }
}

